<%- include("include/top.ejs") %>

  <body>
    <br><br><br>
    <center>
      <h1>WELCOME</h1>
      <form action="/addnew" method="post">
        <input type="text" name="username" placeholder="username">
        <input type="text" name="email" placeholder="email">
        <input type="text" name="password" placeholder="password">
        <button>submit</button>
      </form>
    </center>
  </body>

  </html>