<%- include("include/top.ejs") %>

  <body>
    <br><br><br>
    <center>
      <h2> THE TOTAL NUMBER OF USER ARE : <%= count %>
      </h2>
      <form action="/addnew" method="get"><BUtton>JOIN US TODAY</BUtton></form>
      <form action="/user"><BUtton>VIEW ALL</BUtton></form>
    </center>
  </body>

  </html>